[Unit]
Description=Update system and flatpak packages
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=$HOME/.lazydeb.sh

[Install]
WantedBy=multi-user.target
